@import "../../asset/styles/mixins";

html, body {

}

.scss-test {
  .span1 {
    color: lightseagreen;
  }
  .span2 {
    @include mixin-test;
  }
}

.bg-img {
  $w: 100px;
  $h: 118px;
  width: $w;
  height: $h;
  border: 1px solid darkcyan;

  background: url("../../asset/images/grunt-logo.png");
}